<?xml version="1.0" encoding="utf-8"?>
<launch>
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find mobot_simulation)/launch/mobot.world"/>
  </include>

  <include file="$(find mobot_urdf)/launch/mobot_w_lidar.launch"/>

  <node name= "mobot_server" pkg= "mobot_simulation" type= "mobot_server" output="screen" /> 
  <node name= "mobot_client" pkg= "mobot_simulation" type= "mobot_client" output="screen" /> 
  <node name= "lidar_mobot" pkg= "mobot_simulation" type= "lidar_mobot" output="screen" /> 

</launch>
