<launch>

<node pkg="baxter_tools" type="enable_robot.py" name="enable_robot" args="-e"/>

<node pkg="baxter_traj_streamer" type="traj_interpolator_as" name="traj_interpolator_as"/>
<!-- <node pkg="baxter_traj_streamer" type="traj_action_client_pre_pose" name="traj_action_client_pre_pose"/> -->
<node pkg="my_interesting_moves" type="interesting_moves_example" name="interesting_moves_example" output="screen"/>

<node pkg="rviz" type="rviz" name="rviz"/>
<node pkg="tf" type="static_transform_publisher" name="camera_link_frame_bdcst" args="0 0 0  0 0 0 1 kinect_link camera_link 100"/>
<node pkg="tf" type="static_transform_publisher" name="kinect_calib" args="0 0 0 -0.500 0.500 -0.500 0.500 kinect_link kinect_pc_frame 100"/>
</launch>
