<?xml version="1.0" encoding="utf-8"?>
<launch>

	<remap from="/scan" to="/base_laser1_scan" />
	
	<!--<include file="$(find mobot_urdf)/launch/mobot_w_lidar.launch"/>
	<arg name="dist" default="1.5" />
	<arg name="rad" default="0.5" />-->

	<node name= "simple_controllor" pkg= "wall_follower" type= "simple_controllor" output="screen" /> 
	<!--<node name= "des_state_publisher" pkg= "p5_beta" type= "des_state_publisher" output="screen" /> -->
	<node name= "wall_detector" pkg= "wall_follower" type= "wall_detector" output="screen" /> 

</launch>
